@tailwind base;


@media (min-width: 768px) {
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: white;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(15 23 42 / 0.9);
    border: 1px solid white;
  }
}

@tailwind components;
@tailwind utilities;

